# OS / Editor
.DS_Store
Thumbs.db
/.idea
/.vscode
/.fleet
/.zed

# Environment files
.env
.env.*
/auth.json

# Logs
*.log

# Node/Vite assets
/node_modules/
/public/build/
/public/hot

# Composer vendor
/vendor/

# Laravel storage & cache
/public/storage
/storage/*.key
/storage/pail
/storage/debugbar/
/storage/framework/*
!/storage/framework/.gitignore
/storage/logs/*
!/storage/logs/.gitignore

# Bootstrap cache
/bootstrap/cache/*
!bootstrap/cache/.gitignore

# PHPUnit & test caches
.phpunit.result.cache
/.phpunit.cache

# Tools
.phpactor.json
/.nova

# Coverage
/coverage/

# Homestead
Homestead.json
Homestead.yaml
